* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* Header Section */
.header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: whitesmoke;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

/* Nav Section */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul{
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Hero Section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/San-francisco-oakland-California-hills-cityscape-983718-wallhere.com.jpg");
    background-size: cover;
    background-position: center;
}

/* Main Section */
.float-left {
    float: left;
    margin-right: 25px;
}

.content {
    width: 95%;
    display: inline-block;
    margin-left: 30px;
}

.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5d5f61;
    color: #ffffff;
}

#work {
    color: white;
}

.main-section-work {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5d5f61;
    color: black;
}

.card {
    background: white;
    width: 220px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
  }

  .card-image {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  
  .card header {
    padding: 10px;
    background: black;
    color: whitesmoke;
  }

.card-1 {
    background-image: url('../Images/Capture.JPG');
  }

.card-2 {
    background-image: url('../Images/Capture2.JPG');
}

.card-3 {
    background-image: url('../Images/StadiumTracker2.JPG');
}

.card-4 {
    background-image: url('../Images/Project3.JPG');
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 5px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 5px 50px;
    text-decoration: none;
}

.card:hover {
    background-color: rgb(0, 4, 255);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.main-section-work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Foot Section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    color: whitesmoke;
}

@media screen and (max-width: 900px) {
    .main-section-work {
        height: auto;
        background: none;
    }
    /* remove the background grey */

}

@media screen and (max-width: 900px) {
    .main-section {
        height: auto;
        background: none;
    }

}